{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "sakura-kong": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Sakura via Kong",
      "options": {
        "baseURL": "http://127.0.0.1:8000/v1",
        "headers": {
          "x-api-key": "{env:OPENCODE_KONG_API_KEY}"
        }
      },
      "models": {
        "Qwen3-Coder-30B-A3B-Instruct": {
          "name": "qwen3"
        },
        "gpt-oss-120b": {
          "name": "gpt-oss-120b"
        }
      }
    }
  }
}
